.navbar{
    background: #c95d96;
    
}

.navbar-brand {
    color:#fff;
    /* black color */
}
.navbar-brand:hover {
    color: black; /* green color on hover */
}.
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
  }
  
  .navbar ul li a {
   
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    position: relative; /* Added for positioning the underline */
  }
  
  .navbar ul li a:hover{
    color:black;
  }
   
  
  /* Adding line underneath link items when hovered over */
  .navbar ul li a:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .navbar ul li a:hover:after {
    transform: scaleX(1);

  }


/* hero background image */
.bgimage {
    height: 100vh;
    background: url('images/q.jpg');
    background-size: cover;
    position: relative;
}
#portfolio {
    background-color: #f9f9f9; /* Light gray background color */
    padding: 5px; /* Adjust as needed */
}

/* Style for the portfolio title */
.portfolio_title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px; /* Add some space below the title */
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* spacing on all sections */
/* #about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
} */

/* about section image css */
.imageAboutPage {
    width: 100%;
}

/* Style for Resume section */
#Resume {
    background-color: #f9f9f9;
    padding: 50px 0;
}

#Resume .container {
    text-align: center;
}

#Resume h1 {
    margin-bottom: 30px;
}

#Resume p {
    margin-bottom: 20px;
}



/* Contact Section */
#contact {
    background-color:white;
    color:#080808d6;
    padding: 20px 0;
    margin-top: 0px;
    text-align: center;
}

#contact h1 {
   margin-top: -10px;
    
}

#contact p {
    font-size: 18px;
   
    margin-bottom: 15px;
}

/* Social Links */
.social-links {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px; /* Adjust as needed */
}

.social-links li {
    display: inline-block;
    margin-right: 10px; /* Adjust spacing between icons */
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links a {
    color: #fff;
    font-size: 20px;
}

/* Footer */
.footer {
    background-color: #56585a;
    color: #fff;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin-bottom: 0;
}


